{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.rtl.min.css' %}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header class="mb-3 border-bottom">
      {% include "components/navbar.html" %}
    </header>
    {% block body %}
    {% endblock body %}
    {% block script %}
    {% endblock script %}
    <script src="{% static 'css/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
