{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Homepage' %}">
      بلاگ
      <img height="32"
           width="40"
           src="{% static 'images/logo.png' %}"
           alt="logo">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% url 'Homepage' as url %}
          <a class="nav-link {% if request.path == url %}active disabled{% endif %}" aria-current="page" href="{{ url }}">خانه</a>
        </li>
        <li class="nav-item">
          {% url 'blogPage' as url %}
          <a class="nav-link {% if request.path == url %}active disabled{% endif %}" href="{{ url }}">بلاگ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">موضوعات</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'categoryPage' 'teq' %}">تکنولوژی</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'categoryPage' 'new' %}">اخبار</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>

              <a class="dropdown-item" href="{% url 'categoryPage' 'all' %}">همه موضوعات</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        {% if user.is_autenticated %}
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 text-center">
            <input type="search"
                   class="form-control"
                   placeholder="جست و جو ... "
                   aria-label="Search">
          </form>
          <div class="dropdown text-center">
            <a href="#"
               class="d-block link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser1"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <img src="https://github.com/mdo.png"
                   alt="mdo"
                   width="32"
                   height="32"
                   class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small"
                aria-labelledby="dropdownUser1">
              <li>
                <a class="dropdown-item" href="#">پست جدید</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">پروفایل</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">خروج</a>
              </li>
            </ul>
          </div>
        {% else %}
          <div class="text-end">
            {% url 'loginPage' as url %}
            <a type="button" href="{{ url }}" class="btn btn-outline-success me-2 {% if request.path == url %}active disabled{% endif %}">ورود</a>
            {% url 'registerPage' as url %}
            <a type="button" href="{{ url }}" class="btn btn-warning {% if request.path == url %}active disabled{% endif %}">ثبت نام</a>
          </div>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
